<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <main>
        <% if (books.length > 0 ) { %>
            <h1>Available Books</h1>
            <div class="book-list">
                <!-- Sample book item -->
                 <% books.forEach((book)=> { %>
                    <a href="books/<%= book._id %>" style="text-decoration: none; color: inherit;">
                        <div class="book">
                            <h2><%= book.title %></h2>
                            <p>Author: <%= book.author %></p>
                            <p>Genre: <%= book.genre %> </p>
                        </div>
                    </a>
                 <% }) %>

                <!-- Add more books dynamically -->
            </div> 
       <% }  else { %> 
            <h1>No Books Available At The Moment</h1>
        <% } %>

    </main>

    <%- include('./partials/footer.ejs') %>
</body>
</html>